svg {
    height: 100%;
    width: 100%;
    & > g {
        & > polygon {
            stroke-width: 0;
            fill-rule: evenodd;
        }
    }
    & > rect {
        stroke-width: 0;
    }
}
