<svg [attr.viewBox]="'0 0 ' + this.width + ' ' + this.height" preserveAspectRatio="none">
  <defs>
    <pattern id="faint-stars-1" x="0" y="0" [attr.width]="this.faintStars1PatternSize"
      [attr.height]="this.faintStars1PatternSize" patternUnits="userSpaceOnUse">
      <circle fill="white" [attr.cx]="this.starRadius * 2" [attr.cy]="this.starRadius * 2" [attr.r]="this.starRadius" />
      <circle fill="white" [attr.cx]="this.faintStars1PatternSize * 0.5" [attr.cy]="this.faintStars1PatternSize * 0.84"
        [attr.r]="this.starRadius" />
      <circle fill="white" [attr.cx]="this.faintStars1PatternSize * 0.92" [attr.cy]="this.faintStars1PatternSize * 0.28"
        [attr.r]="this.starRadius" />
    </pattern>
    <pattern id="faint-stars-2" x="0" y="0" [attr.width]="this.faintStars2PatternSize"
      [attr.height]="this.faintStars2PatternSize" patternUnits="userSpaceOnUse">
      <circle fill="white" [attr.cx]="this.faintStars2PatternSize * 0.09" [attr.cy]="this.faintStars2PatternSize * 0.36"
        [attr.r]="this.starRadius" />
      <circle fill="white" [attr.cx]="this.faintStars2PatternSize * 0.63" [attr.cy]="this.faintStars2PatternSize * 0.47"
        [attr.r]="this.starRadius" />
    </pattern>
    <pattern id="bright-stars-1" x="0" y="0" [attr.width]="this.brightStars1PatternSize"
      [attr.height]="this.brightStars1PatternSize" patternUnits="userSpaceOnUse">
      <circle fill="white" [attr.cx]="this.brightStars1PatternSize * 0.15"
        [attr.cy]="this.brightStars1PatternSize * 0.5" [attr.r]="this.starRadius" />
      <circle fill="white" [attr.cx]="this.brightStars1PatternSize * 0.6"
        [attr.cy]="this.brightStars1PatternSize * 0.15" [attr.r]="this.starRadius" />
    </pattern>
    <pattern id="bright-stars-2" x="0" y="0" [attr.width]="this.brightStars2PatternSize"
      [attr.height]="this.brightStars2PatternSize" patternUnits="userSpaceOnUse">
      <circle fill="white" [attr.cx]="this.brightStars2PatternSize * 0.59"
        [attr.cy]="this.brightStars2PatternSize * 0.53" [attr.r]="this.starRadius" />
    </pattern>
    <radialGradient id="sun-gradient" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="70%" style="stop-color:white;stop-opacity:1" animationId="sunCoreDusk"
        animationAttribute="stop-color" dayTime="14:00" dailyValues="white;#ffb200;#ff7300" duration="05:00"
        horDailyAnimation />
      <stop offset="100%" style="stop-color:white;stop-opacity:0" animationId="sunEdgeDusk"
        animationAttribute="stop-color" dayTime="14:00" dailyValues="white;#ffb200;#ff7300" duration="05:00"
        horDailyAnimation />
    </radialGradient>
    <radialGradient id="corona-gradient" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="0%" style="stop-color:#c9e9f6;stop-opacity:1" animationId="coronaCore"
        animationAttribute="stop-color" dawnDayTime="03:00" dawnValue="#c9e9f6" duskDayTime="14:00"
        duskValue="#ffe373;#692752" dawnDuration="03:00" duskDuration="03:30" horDawnDuskAnimation />
      <stop offset="100%" style="stop-color:#c9e9f6;stop-opacity:0" animationId="coronaEdge"
        animationAttribute="stop-color" dawnDayTime="03:00" dawnValue="#c9e9f6" duskDayTime="14:00"
        duskValue="#ffe373;#692752" dawnDuration="03:00" duskDuration="03:30" horDawnDuskAnimation />
    </radialGradient>
    <radialGradient id="moon-shadow-gradient" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="30%" style="stop-color:#313251;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#313251;stop-opacity:0" />
    </radialGradient>
    <radialGradient id="moon-gradient" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="0%" style="stop-color:#f5f3ce;stop-opacity:0.2" />
      <stop offset="100%" style="stop-color:#f5f3ce;stop-opacity:0" />
    </radialGradient>
    <pattern id="scene" x="0" y="0" [attr.width]="this.width" [attr.height]="this.height" patternUnits="userSpaceOnUse">
      <rect id="sky" [attr.width]="this.width" [attr.height]="this.height" fill="#313251" animationId="sky"
        animationAttribute="fill" dawnDayTime="06:00" dawnValue="#87ceeb" duskDayTime="15:00" duskValue="#313251"
        dawnDuration="03:00" duskDuration="03:00" horDawnDuskAnimation />
      <g id="celestialBodies">
        <g id="stars" [attr.transform]="'translate(' + (this.width * 0.5) + ', 0)'" opacity="1" animationId="stars"
          animationAttribute="opacity" dawnDayTime="04:30" dawnValue="0" duskDayTime="15:30" duskValue="1"
          dawnDuration="03:00" duskDuration="03:00" horDawnDuskAnimation>
          <circle [attr.r]="this.diagonal" cx="0" [attr.cy]="this.height" fill="url(#faint-stars-1)" opacity="0.4" />
          <circle [attr.r]="this.diagonal" cx="0" [attr.cy]="this.height" fill="url(#faint-stars-2)" opacity="0.5" />
          <circle [attr.r]="this.diagonal" cx="0" [attr.cy]="this.height" fill="url(#bright-stars-1)" opacity="0.9" />
          <circle [attr.r]="this.diagonal" cx="0" [attr.cy]="this.height" fill="url(#bright-stars-2)" opacity="1" />
        </g>
        <g id="sun" [attr.transform]="'translate(' + (this.width * 0.5) + ', ' + this.height * 2.0 + ')'">
          <circle [attr.r]="this.sunRadius * 40" fill="url(#corona-gradient)" />
          <circle [attr.r]="this.sunRadius" fill="url(#sun-gradient)" />
        </g>
        <g id="moon" [attr.transform]="'translate(' + (this.width * 0.5) + ', 0)'">
          <circle [attr.r]="this.moonRadius * 5" fill="url(#moon-shadow-gradient)" />
          <circle [attr.r]="this.moonRadius * 40" fill="url(#moon-gradient)" />
          <circle [attr.r]="this.moonRadius" fill="#f5f3ce" />
        </g>
        <animateTransform attributeName="transform" attributeType="XML" type="rotate"
          [attr.from]="[0, this.width * 0.5, this.height]" [attr.to]="[360, this.width * 0.5, this.height]"
          [attr.dur]="this.sunCycleDuration" repeatCount="indefinite" />
      </g>
      <g id="contourLines">
        <polygon [attr.points]="this.contourLinePointsBack" fill="#292a4b" animationId="backLine"
          animationAttribute="fill" dawnDayTime="06:00" dawnValue="#78c4cd" duskDayTime="15:00" duskValue="#292a4b"
          dawnDuration="03:00" duskDuration="03:00" horDawnDuskAnimation>
          <animateTransform attributeName="transform" attributeType="XML" type="translate"
            [attr.from]="[0, this.contourLineHeightBack]"
            [attr.to]="[-this.contourLineBodyLength, this.contourLineHeightBack]"
            [attr.dur]="this.contourLineCycleDurationBack" repeatCount="indefinite" />
        </polygon>
        <polygon [attr.points]="this.contourLinePointsMiddle" fill="#1e1f42" animationId="middleLine"
          animationAttribute="fill" dawnDayTime="06:00" dawnValue="#4fa97c" duskDayTime="15:00" duskValue="#1e1f42"
          dawnDuration="03:00" duskDuration="03:00" horDawnDuskAnimation>
          <animateTransform attributeName="transform" attributeType="XML" type="translate"
            [attr.from]="[0, this.contourLineHeightMiddle]"
            [attr.to]="[-this.contourLineBodyLength, this.contourLineHeightMiddle]"
            [attr.dur]="this.contourLineCycleDurationMiddle" repeatCount="indefinite" />
        </polygon>
        <polygon [attr.points]="this.contourLinePointsFront" fill="#0a0c32" animationId="frontLine"
          animationAttribute="fill" dawnDayTime="06:00" dawnValue="#319540" duskDayTime="15:00" duskValue="#0a0c32"
          dawnDuration="03:00" duskDuration="03:00" horDawnDuskAnimation>
          <animateTransform attributeName="transform" attributeType="XML" type="translate"
            [attr.from]="[0, this.contourLineHeightFront]"
            [attr.to]="[-this.contourLineBodyLength, this.contourLineHeightFront]"
            [attr.dur]="this.contourLineCycleDurationFront" repeatCount="indefinite" />
        </polygon>
      </g>
    </pattern>
    <filter id="displacementFilter">
      <feTurbulence type="turbulence" baseFrequency="0.2" numOctaves="2" result="turbulence" seed="1">
        <animate attributeType="XML" attributeName="seed" values="0;30" begin="0s;" dur="1s" repeatCount="indefinite" />
      </feTurbulence>
      <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="50" xChannelSelector="R" yChannelSelector="G"
        result="displacement" />
      <feGaussianBlur in="displacement" stdDeviation="1" />
    </filter>
    <pattern id="sceneMirror" x="0" y="0" [attr.width]="this.width" [attr.height]="this.height"
      patternUnits="userSpaceOnUse">
      <rect [attr.width]="this.width" [attr.height]="this.height" fill="url(#scene)"
        style="filter: url(#displacementFilter)"
        [attr.transform]="'translate(-' + (this.width * 0.03) + ', ' + (this.height * 1.025) + ') scale(1.05, -0.2)'" />
      <rect [attr.width]="this.width" [attr.height]="this.height" opacity="0.6" fill="#05061a" animationId="water"
        animationAttribute="fill" dawnDayTime="06:00" dawnValue="#0077be" duskDayTime="15:00" duskValue="#05061a"
        dawnDuration="03:00" duskDuration="03:00" horDawnDuskAnimation />
    </pattern>
  </defs>
  <g opacity="0">
    <rect id="skyAndLand" [attr.width]="this.width" [attr.height]="this.waterHeight + 1" fill="url(#scene)" />
    <rect id="water" [attr.y]="this.waterHeight" [attr.width]="this.width" [attr.height]="this.contourLineGap"
      fill="url(#sceneMirror)" />
    <animate id="loadingAnimation" begin="0.5s" dur="2s" values="0;1" attributeName="opacity" fill="freeze"
      attributeType="XML" />
  </g>
</svg>